<div class="search-result">
	<h1 class="search-result-title">Videos</h1>
	<div class="search-result-description">Explore our collection of educational videos.</div>
	<div class="search-result-count">
		Chapter: {{ chapter }} and QR Code: {{ qr_code }}
	</div>
</div>
<div class="video-grid">
	<div class="video-card" *ngFor="let video of filteredVideos">
		<div class="image-container">
			<div class="video-wrap position-relative">
				<div class="video-player">
					<video #videoPlayer width="100%" height="100%" [src]="video.videoLink" muted playsinline
						controls></video>
				</div>
				<div class="video_player_outer" *ngIf="video.showOverlay">
					<div class="video_player_inner position-relative">
						<div class="video_bg"></div>
						<div class="video_play" (click)="playVideo(videoPlayer , video)">
							<div class="video_play_bg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h3>{{ video.title }}</h3>
		<p class="description">{{ video.description }}</p>
		<a class="watch-button" (click)="openVideoDetail(video)">Watch Video</a>
		<!-- <a [routerLink]="['/test/booklink/supplement', video.title]" [queryParams]="{ chapter: video.chapter, qr_code: video.qr_code }" class="watch-button">Read more</a> -->
	</div>
</div>

<app-video-detail-view *ngIf="selectedVideo" [video]="selectedVideo"
	(close)="closeVideoDetail()"></app-video-detail-view>