<div>
    <div class="header-wrap">
        <div class="header-inner container fl-box align-items-center h-100">
            <div class="logo">
                <img width="" height="" src="assets/images/GSL-Logo.png" alt="GetSetLearn" class="img-responsive">
            </div>

            <nav role="navigation" class="primary-navigation logo">
                <img width="" height="" src="assets/images/AMG-logo.webp" alt="AMG Groups" class="img-responsive">
                <!-- <ul>
                    <li><a routerLink="/landing" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/ebooks" routerLinkActive="active">Ebooks</a></li>
                    <li><a [routerLink]="['/test/booklink/supplement']" [queryParams]="{ chapter: chapterNumber, qr_code: qrCodeValue }" routerLinkActive="active">Videos</a></li>
                </ul> -->
            </nav>
        </div>
    </div>
</div>