.video-wrap {
    height: 450px;
    position: relative;
    // padding-bottom: 20px;
}

/* video-detail.component.scss */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.popup-close {
    position: absolute;
    right: -20px;
    top: 0px;
    border: none;
    font-size: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}