<div class="popup-overlay">
    <div class="popup-content">
        <button class="popup-close" (click)="closePopup()">✖</button>
        <div class="video-detail">
            <div class="video-container">
                <div class="video-wrap">
                    <video #videoPlayer width="100%" height="100%" [src]="video.videoLink" muted playsinline autoplay controls></video>
                </div>
                <!-- <h2>{{ video.title }}</h2>
                <p><strong>Author:</strong> {{ video.author }}</p>
                <p>{{ video.description }}</p> -->
            </div>
        </div>
    </div>
</div>