@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

ul , li {
    margin: 0;
    padding: 0;
}